{% include '_partials/_header.html' %}

<!-- <lottie-player id="monLottieInteractif" src="assets/lottie/nasa_logo.json">
</lottie-player> -->

<lottie-player id="monLottieInteractif" src="assets/lottie/nasa_logo.json" style="width:400px; height: 400px;">"></lottie-player>

<!-- <div class="animation"></div> -->

<!-- <lottie-player id="firstLottie" src="https://assets2.lottiefiles.com/packages/lf20_i9mxcD.json" style="width: 400px; height: 400px">"></lottie-player> -->

{% include '_partials/_footer.html' %}
